<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Anananagram</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Enter a word:</h1>

                    <form action="/bananagram" method="post">
                        <div class="form-group">
                            <label for="single_word">Anagram</label>
                            <input type="text" name="single_word" class="form-control" id="single_word">

                            <label for="list_of_words">List of words, separated by a space.</label>
                            <input type="text" name="list_of_words" class="form-control" id="list_of_words">
                        </div>

                        <button type="submit" class="btn btn-success">Anagrams</button>
                </div>

            </div>

            </div>

        </div>
    </body>
</html>
